.section-hero{
  background-color: $gray-color-200;
  margin-top: 10rem;
  padding: 5rem 0 0 0;
  .container{
    @include flex(row, center, space-between);
    .text{
      width: 100%;
      max-width: 100rem;
      h1{
        color: $green;
        text-transform: uppercase;
      }
      p{
        color: $white;
        font-size: 2.6rem;
        text-transform: uppercase;
      }

      .contacts{
        margin-top: 6rem;
        display: flex;
        align-items: center;
        .linkedin{
          margin-right: 3rem;
          span{
            margin-left: 2rem;
            color: $white;
          }
          transition: all 0.3s;
          &:hover{
            background: $green;
          }
        }
        .github{
          span{
            margin-left: 2rem;
            color: $white
          }
          transition: all 0.3s;
          &:hover{
            background: $green;
          }
        }
      }
    }

    .image{
      width: 100%;
      position: relative;
      top: 0.94rem;
    }
  }

  @include responsive(1200px){}
  @include responsive(991px){
    .container{
      .text{
        h1{
          font-size: 5rem;
        }
        p{
          font-size: 2.2rem;
        }
      }
    }
  }
  @include responsive(768px){
    .container{
      flex-direction: column;

      .text{
        width: 100%;

        h1, p{
          text-align: center;
        }

        .contacts{
          display: flex;
          justify-content: center;
        }
      }

      .image{
        text-align: center;
        top: 0.8rem;
        img{
          width: 60%;
        }
      }
    }
  }
  @include responsive(600px){}
  @include responsive(480px){
    .container{
      .text{
        .contacts{
          margin-top: 2rem;
          .btn-contact{
            font-size: 1.4rem;
            padding: 0.8rem 2.2rem;
          }
        }
      }
      .image{
        top: 0.6rem;
        
      }
    }
  }
}

.section-skills{
  padding: 4rem 0;
  .container{
    h2{
      text-align: center;
      margin-bottom: 3rem;
    }
    .skills{
      width: 100%;
      display: flex;
      justify-content: center;
      
      .skill{
        @include flex(row,center,center);
        background: $gray-color-100;
        border-radius: 0.3rem;
        width: 100%;
        max-width: 15rem;
        height: 15rem;

        margin-right: 3rem;
        &:last-child{
          margin-right: 0;
        }

        img{
          max-width: 8rem;
          height: 8rem;
        }
      }
    }
  }

  @include responsive(1200px){}
  @include responsive(991px){
    .container{
      .skills{
        flex-direction: column;
        align-items: center;
        .skill{
          width: 90%;
          max-width: 90%;
          margin-bottom: 3rem;
          margin-right: 0;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
  @include responsive(768px){}
  @include responsive(600px){}
  @include responsive(480px){}
}

.section-projects{
  background: $gray-color-200;
  padding: 4rem 0;
  .container{
    h2{
      color: $white;
      text-align: center;
      margin-bottom: 3rem;
    }

    .projects{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .image{
        margin-bottom: 1.6rem;
      }
      .project{
        width: 100%;
        max-width: 35rem;
        height: 24rem;
        border-radius: 0.3rem;
        padding-top: 2rem;
        padding-left: 2rem;
        margin: 1rem;
        
        background: $gray-color-100;
        h3{
          color: $white;
          margin-bottom: 0.8rem;
        }
        p{
          color: $white-color-text;
          font-size: 1.4rem;
        }
      }
    }

  }
  
  @include responsive (768px){
    .container{
      .projects{
        .project{
          max-width: 90%;
          .image{
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }

  @include responsive (480px){
    .container{
      .projects{
        .project{
          max-width: 100%;
        }
      }
    }
  }
}

footer{
  background: $gray-color-800;
  @include flex(row, center, center)
  
  img{
    width: 9.2rem;
    height: 9.2rem;
  }
  p{
    font-size: 1.8rem;
    span{
      font-weight: 600;
      a:link, a:visited{
        color: black;
      }
      a:hover, a:active{
        color: $green;
      }
    }
    
  }
}